* {
    box-sizing: border-box;
    margin: 3px;
}

body {
    width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

#input_data {
    text-align: center;
    float: left;
}

label {
    display: inline-block;
    width: 220px;
    background-color: #eee;
}

#input_data input {
    width: 380px;
}

#btn {
    text-align: center;
    float: right;
    margin: 45px 60px;
}

#btn input,
#btn button {
    width: 100px;
}

#list {
    clear: both;
}

#list button {
    width: 80px;
}

table {
    border-collapse: separate;
    border-spacing: 0 20px;
    border: 1px solid black;
    text-align: left;
    width: 100%;
}

tr {
    margin-bottom: 20px;
}

th {
    color: white;
    padding: 13px 25px;
    background-color: #555;
}

td {
    padding: 8px 25px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}